# Eliminamos todo y vamos añadiendo cosas
# acabamos antes

/*

# Añadimos lo que nos interesa

!/Experimento_*
!/libs
!Ejecucion_Experimentos.py
!Analisis_Error.py
!.gitignore


# Finalente, de lo que sí que está metido, eliminamos
# lo que no es necesario

/libs/__pycache__/

/Experimento_*/03_Entrenamiento.py

/Experimento_*/data/**
/Experimento_*/figures/**
/Experimento_*/logs/**
/Experimento_*/models/**
/Experimento_*/proyecciones/**

