# Eliminamos todos los archivos que almacenan datos
*.hdf5
*.png
*.avi
*.csv
*.keras
*.sav

# Eliminamos el directorio /00_comun/ ya que no tiene nada de interés
/00_comun/

# Eliminamos los archivos concretos (por nombre) que no son interesantes
/Experimento_01/03_Entrenamiento.py
/Experimento_02/03_Entrenamiento.py
/Experimento_04/03_Entrenamiento.py
/Experimento_05/03_Entrenamiento.py
/figuras_memoria.ipynb

# Eliminamos los archivos de cache de python
/libs/__pycache__/